*{
    box-sizing: border-box;
}

.row{
    width: 100%;
}
.div-section{
    margin: auto;
    padding: auto;
    width: 20%;
    background-color: gray;
    border: 1px solid black;
    float: left;

}
p{
    text-align: left;
}

#subtitle-1{
    background-color: rgb(212, 153, 162);
    float: right;
    border: 1px solid black;
}
#subtitle-2{
    background-color: rgb(145, 60, 21);
    float: right;
    border: 1px solid black;
    color: white;
}
#subtitle-3{
    background-color: rgb(182, 153, 79);
    float: right;
    border: 1px solid black;
}

@media (min-width: 768px) and (max-width:991px){ /*responsividade media configuração*/
    .div-section{

    }
}