* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightgray;

}

.row {
    width: 100%;
}

.box {
    width: 480px;
    height: 280px;
    border: 1px solid black;
    margin: 20px;
    margin-right: 90px;
    float: left;


}

div>p {
    text-align: left;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    width: 110px;
    height: 40px;
    border: 1px solid black;
    position: relative;
    top: -20px;
    right: -77%;
    text-align: center;
}

#div-1 {
    background-color: #cdcd;
}

#div-2 {
    background-color: #dcdc;
}

#div-3 {
    background-color: rgba(104, 159, 221, 0.8);
}

#subtitle-1 {
    background-color: pink;
}

#subtitle-2 {
    background-color: rgba(177, 59, 59, 0.671);
    color: white;
}

#subtitle-3 {
    background-color: rgba(221, 221, 91, 0.452);
}